@*@model PagedList.IPagedList<Nieruchomosci.Models.Nieruchomosc>#1#**@
@model Nieruchomosci.Models.OgloszeniaViewModel


@using Nieruchomosci.Models
@using PagedList
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    AjaxOptions ajaxOpts = new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "get",
        UpdateTargetId = "ogloszenia",
        Url = Url.Action("OgloszeniaLista")
    };
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].RodzajNieruchomosciID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Typ_nieruchomosci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Typ_budynku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Powierzchnia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Powierzchnia_dz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Pietro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Standard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Liczba_pokoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Rok_budowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Uzbrojenie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Ogloszeniodawca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Tel_kont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nieruchomosci[0].Data_dodania)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Nieruchomosci) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypTransakcjiID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RodzajNieruchomosciID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ_nieruchomosci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ_budynku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Powierzchnia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Powierzchnia_dz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pietro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Standard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Liczba_pokoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok_budowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uzbrojenie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ogloszeniodawca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel_kont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_dodania)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NieruchomoscID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NieruchomoscID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NieruchomoscID })
        </td>
    </tr>
}

</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
@*@Html.PagedListPager(Model, page => Url.Action("OgloszeniaLista", new { Model, page}))*@
@*@Html.PagedListPager(Model, page => Url.Action("OgloszeniaLista", new {Model.PageNumber}))*@
@*@Html.PagedListPager(Model, page => Url.Action("OgloszeniaLista", new {Model,page}))*@


@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@


    
    
    @Html.PagedListPager(Model.Nieruchomosci, page => Url.Action("OgloszeniaLista",
                       new {page }))



