@model Nieruchomosci.Models.Nieruchomosc

@{
    ViewBag.Title = "Kasowanie";
}
<h2>Usuwanie ogłoszenia</h2>

<h3>Czy napewno chcesz skasować to ogłoszenie?</h3>
<div>
    @Html.Partial("Gallery2", Model.NieruchomoscPhoto)

</div>


<fieldset>
    <legend>Nieruchomosc</legend>
  



    <div class="display-label">
        @Html.DisplayNameFor(model => model.TypTransakcji.Typ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypTransakcji.Typ)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RodzajNieruchomosci.RodzajNieruchomosciRodzaj)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RodzajNieruchomosci.RodzajNieruchomosciRodzaj)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Typ_nieruchomosci)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Typ_nieruchomosci)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Typ_budynku)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Typ_budynku)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Adres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adres)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Miasto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Miasto)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Powierzchnia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Powierzchnia)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Powierzchnia_dz)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Powierzchnia_dz)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Pietro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pietro)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Standard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Standard)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Liczba_pokoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Liczba_pokoi)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rok_budowy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rok_budowy)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Cena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cena)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Uzbrojenie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uzbrojenie)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opis)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Ogloszeniodawca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ogloszeniodawca)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Tel_kont)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel_kont)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Data_dodania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_dodania)
    </div>
</fieldset>
<p>
    @using (Html.BeginForm("Delete", "User"))
    {
        @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Kasuj" /> |
        @Html.ActionLink("Wróc do listy", "Index")
    </p>
    }
</p>

    @Scripts.Render("~/bundles/jqueryval")


