@model Nieruchomosci.Models.Nieruchomosc

@{
    ViewBag.Title = "Edytuj";
}

<div>
    @Html.Partial("Gallery1", Model.NieruchomoscPhoto)

</div>
<h2>Edytuj dane ogłoszenia</h2>


@using (Html.BeginForm("Edit", "User", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nieruchomosc</legend>

        @Html.HiddenFor(model => model.NieruchomoscID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TypTransakcjiID, "Typ Transakcji")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TypTransakcjiID", String.Empty)
            @Html.ValidationMessageFor(model => model.TypTransakcjiID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RodzajNieruchomosciID, "Rodzaj Nieruchomosci")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RodzajNieruchomosciID", String.Empty)
            @Html.ValidationMessageFor(model => model.RodzajNieruchomosciID)
        </div>

   
        <div class="editor-field">
         @Html.HiddenFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

       



        <div class="editor-label">
            @Html.LabelFor(model => model.Typ_nieruchomosci)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Typ_nieruchomosci)
            @Html.ValidationMessageFor(model => model.Typ_nieruchomosci)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Typ_budynku)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Typ_budynku)
            @Html.ValidationMessageFor(model => model.Typ_budynku)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adres)
            @Html.ValidationMessageFor(model => model.Adres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Miasto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Miasto)
            @Html.ValidationMessageFor(model => model.Miasto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Powierzchnia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Powierzchnia)
            @Html.ValidationMessageFor(model => model.Powierzchnia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Powierzchnia_dz)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Powierzchnia_dz)
            @Html.ValidationMessageFor(model => model.Powierzchnia_dz)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pietro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pietro)
            @Html.ValidationMessageFor(model => model.Pietro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Standard)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Standard)
            @Html.ValidationMessageFor(model => model.Standard)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Liczba_pokoi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Liczba_pokoi)
            @Html.ValidationMessageFor(model => model.Liczba_pokoi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rok_budowy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rok_budowy)
            @Html.ValidationMessageFor(model => model.Rok_budowy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cena)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cena)
            @Html.ValidationMessageFor(model => model.Cena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uzbrojenie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uzbrojenie)
            @Html.ValidationMessageFor(model => model.Uzbrojenie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Opis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Opis)
            @Html.ValidationMessageFor(model => model.Opis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ogloszeniodawca)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ogloszeniodawca)
            @Html.ValidationMessageFor(model => model.Ogloszeniodawca)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel_kont)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel_kont)
            @Html.ValidationMessageFor(model => model.Tel_kont)
        </div>

 
        <div class="editor-field">
            @Html.HiddenFor(model => model.Data_dodania)
            @Html.ValidationMessageFor(model => model.Data_dodania)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}



<div>
    @Html.ActionLink("Wroc do listy", "Index")
    
</div>

